.toggleContainer {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 100%;
  max-width: 550px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16);
  padding: 8px;
}

.toggleButton {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--lightest-grey);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: var(--text);
}

.toggleButton:hover {
  background-color: var(--button-hover);
  color: #ffffff;
}

.active {
  background-color: var(--button);
  color: white;
}
