.header {
  background-color: #f5f7fa;
  padding: 20px;
  padding-top: 0;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: var(--text);
}
